*{
  margin: 0;
  padding: 0;
}

html,body{
  overflow-x: hidden;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

p {
  margin-top: 0;
  margin-bottom: 0px;
}

.ion-icon {
  font-size: 128px;
}

.header {
  background-color:#FFFFFF;
  display: flex;
  justify-content: space-between;
  padding: 13px;
}

.header.img{
height: 58px;
width: 58px;
border-radius: 0px;
}


.noti {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-bell:before {
    content: "\f0f3";
    padding-right: 10px;
    color: #347043;
}

.background{
  background-color: #E5E5E5;
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.view {
  background-color: #347043;
  width: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.view p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
}


.view-1{
  font-family: 'Raleway';
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 86px;
  text-align: center;
  height: 50px;
  width: 100%;
  text-decoration: none;
}

.view-1:hover {
  background-color: #FCFFF2;
  font-family: 'Raleway';
  color: #347043;
}

.view-2{
  font-family: 'Raleway';
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  margin-top: 17px;
  text-align: center;
  height: 50px;
  width: 100%;
  align-items: center;
  text-decoration: none;
}

.view-2:hover {
  background-color: #FCFFF2;
  font-family: 'Raleway';
  color: #347043;
}



.view-3{
  font-family: 'Raleway';
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 17px;
  text-align: center;
  height: 50px;
  width: 100%;
  text-decoration: none;
}

.view-3:hover {
  background-color: #FCFFF2;
  font-family: 'Raleway';
  color: #347043;
}


.view-4{
  background-color: #FCFFF2;
  font-family: 'Raleway';
  color: #347043;
  display: flex;
  margin-top: 22px;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  text-decoration: none;
}

.view-4:hover{
  color: #347043;
}


.view-5{
  font-family: 'Raleway';
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 17px;
  text-align: center;
  height: 50px;
  width: 100%;
  text-decoration: none;
}

.view-5:hover {
  background-color: #FCFFF2;
  font-family: 'Raleway';
  color: #347043;
}


.fas {
  font-weight: 900;
  margin-right: 5px;
  margin-top: 0px;
}

.button{
  font-size: 12px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #ABD044;
  font-family: 'Raleway';
  margin-top: 33px;
  width: 146px;
  height: 34px;
  border: none;
}


.control{
  height: 100vh;
  width: 100%;
  background-color: #F2F2F2;
}

.control h1 {
  font-weight: 700;
  font-family: "Raleway";
  font-size: 30px;
  line-height: 35.22px;
  color: #347043;
  padding-top: 80px;
  padding-left: 77px;
}

.add {
  background-color: #347043;
  color: #FFFFFF;
  font-family: 'Raleway';
  border-radius: 5px;
  width: 50%;
  height: 55px;
  margin: 0px 30px 0px 0px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.inpt {
  background-color: #FFFFFF;
  height: 111px;
  width: 88%;
  margin-left: 79px;
  margin-right: 79px;
  margin-top: 36px;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 5px;
  font-family: 'Raleway';
}

.inpt input{
background: #EBEBEB;
height: 55px;
width: 100%;
margin: 29px;
border: none;
border-radius: 5px;
padding: 15px;
}


table {
  font-family: "Raleway";
  width: 88%;
  border: 1px solid #EAEAEA;
  margin: 79px 79px 79px 79px;

}

tr {
  border: 1px solid #EAEAEA;
  border-top-left-radius: 8px;
}

td {
  padding: 10px;
  background-color: #F2F2F2;
  color: #252525;

}

th {
  font-family: 'Raleway';
  padding: 10px;
  background-color: #EBEBEB;

}
.fr {
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0em;
  text-align: left;
  }

  
/* Modal */
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 78vh;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 0.3rem;
  outline: 0;
}

.modal-title{
  color: #347043;
  font-family: 'Raleway';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
}

.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  background-color: #F3F3F3;
  border-bottom: none;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}

.oup p{
  font-family: 'Raleway';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
}

.oup input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  width: 100%;
  height: 41px;
  background-color: #EEEEEE;
  border: none;
  border-radius: 4px;
}

.cri p {
  font-family: 'Raleway';
  margin-top: 22px;
  font-weight: 700;
  font-size: 16px;
}

.cri input{
  width: 100%;
  height: 161px;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border: none;
}

.modal-footer button{
  width: 46%;
  font-family: 'Raleway';
}

#cel{
  background-color: #FFFFFF;
 color: #ED2727;
 border: 1px solid #ED2727;
}

#rea{
  background-color: #347043;
  color: #FCFFF2;
  border: 1px solid #347043;
}


@media screen and (min-width: 360px) and (max-width: 800px) {
  .control h1 {
    font-weight: 700;
    font-family: "Raleway";
    font-size: 29px;
    /* line-height: 35.22px; */
    color: #347043;
    padding-top: 80px;
    padding-left: 15px;
  }
  
  .inpt {
    background-color: #FFFFFF;
    height: 82px;
    margin: 30px 10px;
    width: auto;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 5px;
    font-family: 'Raleway';
  }
  
  .inpt input {
    background: #EBEBEB;
    height: 47px;
    width: 86%;
    margin: 11px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    padding: 15px;
  }
  
.add {
  background-color: #347043;
  color: #FFFFFF;
  font-family: 'Raleway';
  border-radius: 5px;
  width: 50%;
  font-size: 11px;
  height: 47px;
  margin: 0px 9px 0px 0px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}
  
  table {
    font-family: "Raleway";
    width: auto;
    border: 1px solid #EAEAEA;
    margin: 58px 10px;
  }
  
  th {
    font-family: 'Raleway';
    padding: 6px;
    background-color: #EBEBEB;
    font-size: 9px;
  }
  
  td {
    padding: 7px;
    background-color: #F2F2F2;
    color: #252525;
    font-size: 13px;
  }
  
  .oup input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 100%;
    height: 41px;
    background-color: #EEEEEE;
    border: none;
    border-radius: 4px;
  }
  
  .cri input {
    width: 100%;
    height: 161px;
  }
  
  .fr {
    font-size: 9px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
  }
}